Edit Question


<form action="<%= question_url(@question) %>" method="POST">
	<input type="hidden"
	       name="_method"
	       value="PUT">

	<input type="hidden"
	       name="authenticity_token"
	       value="<%= form_authenticity_token %>">

	<p>
	<label for="question_title">Title</label>
	<input type="text"
	       id="question_title"
	       name="question[title]"
	       value="<%= @question.title %>">
	</p>

	<p>
	<label for="question_body">Body</label>
	<textarea id="question_body"
	          name="question[body]">
	  <%= @question.body %>
	</textarea>
	</p>

	<input type="submit" value="Update Question">
</form>