<!-- <image src="images/thumbs_up.jpg"></image> -->

<h3 class="loading-text">Loading...</h3>

<h1 id="questions-index-title" class="hidden">All Questions</h1>

<div id="new-question-button" class="hidden">
	<% if (!!current_user) %>
	<%= link_to "Ask a Question", new_user_question_url(current_user.id), 
	                              :class => "btn btn-default btn-info btn-new-question" %>
	<% end %>
</div>

<ul class="questions"></ul>

<script type="text/javascript">
  $.ajaxSetup({
  	cache: false
  });
  
	$(document).ready(function () {
		// Initialize global variables
		ProHotlineApp.currentUserId = $("#current-user").attr("data-id")
		ProHotlineApp.currentUser = (ProHotlineApp.currentUserId ? true : false)

		ProHotlineApp.questions = new ProHotlineApp.Collections.Questions();
		ProHotlineApp.questions.fetch({
			success: function () {
				ProHotlineApp.questions.sort();
				new ProHotlineApp.Routers.QuestionsIndex($("ul.questions"));
				Backbone.history.start();
			}
		});	
	});
</script>