<div id="new-question-title">
	<h2>New Question</h2>
</div>

<div class="form"></div>

<script type="text/javascript">
	$(document).ready(function () {
		// Initialize global variables
		ProHotlineApp.currentUserId = $("#current-user").attr("data-id")
		ProHotlineApp.currentUser = (ProHotlineApp.currentUserId ? true : false)

		var newQuestionView = new ProHotlineApp.Views.QuestionNew({
			model: new ProHotlineApp.Models.Question(),
			collection: new ProHotlineApp.Collections.Tags()

		});
		$("div.form").html(newQuestionView.render().$el);

	});
</script>