<div class="question"></div>


<h2> Answers </h2>
<div class="answers"></div>

<br>
<h3><%= link_to "Back", questions_url %></h3>


<script type="text/javascript">
	$(document).ready(function () {
		// Initialize global variables
		ProHotlineApp.currentUserId = $("#current-user").attr("data-id")
		ProHotlineApp.currentUser = (ProHotlineApp.currentUserId ? true : false)

		ProHotlineApp.question = new ProHotlineApp.Models.Question();
		ProHotlineApp.question.set('id', <%= @question.id %>);
		ProHotlineApp.question.fetch({
			success: function () {
				new ProHotlineApp.Routers.QuestionShow($("div.question"), $("div.answers"));
				Backbone.history.start();
			}
		});	
	});
</script>