<div class="question"></div>

<div class="answer-count"></div>
<div class="answers"></div>

<br>
<h3 style="text-align: center"><%= link_to "Back", questions_url %></h3>


<script type="text/javascript">
  $.ajaxSetup({
  	cache: false
  });

	$(document).ready(function () {
		// Initialize global variables
		ProHotlineApp.currentUserId = $("#current-user").attr("data-id")
		ProHotlineApp.currentUser = (ProHotlineApp.currentUserId ? true : false)

		ProHotlineApp.question = new ProHotlineApp.Models.Question();
		ProHotlineApp.question.set('id', <%= @question.id %>);
		ProHotlineApp.question.fetch({
			success: function () {
				new ProHotlineApp.Routers.QuestionShow($("div.question"), $(".answer-count"), $("div.answers"));
				Backbone.history.start();
			}
		});	
	});
</script>