<h4><%= "Answer by " + answer.author.username %></h4>

<div class=<%= ((ProHotlineApp.question.get("best_answer_id") == answer.id) ? "best" : "not-best") %>>
	<div class="if-best">
	  <p>***BEST ANSWER***</p>
  </div>
  <div class="if-not-best">
	  <% if (ProHotlineApp.question.get("author_id") == ProHotlineApp.currentUserId) { %>
	   <button class="mark-best-answer">Mark as Best Answer</button>
	  <% } %>
  </div>
</div>

<div class="votes"></div>

<% if (ProHotlineApp.currentUser && answer.author.id == ProHotlineApp.currentUserId) { %>
		  	<button class="edit-answer">Edit Answer</button>
		  	<button class="delete-answer">Delete Answer</button>
<% } %>

<div class="answer-body">
	<%= answer.escape("body") %>
</div>

<h4>Comments</h4>
<div class="new-comment"></div>
<div class="comments"></div>