

<h4><%= "Answer by " + answer.author.username %></h4>
<h4>Votes: <%= answer.votes.filter( function (vote) { 
                 return vote.escape("vote_type") === "UPVOTE";
               }).length -
               answer.votes.filter( function (vote) { 
                 return vote.escape("vote_type") === "DOWNVOTE";
               }).length %></h4>

<% if (ProHotlineApp.currentUser && answer.author.id == ProHotlineApp.currentUserId) { %>
		  	<button class="delete-answer">Delete Answer</button>
<% } %>

<div class="answer-body">
	<%= answer.escape("body") %>
</div>

<h4>Comments</h4>
<div class="comments"></div>