<div class="edit-answer">

  <h4><%= "Answer by " + answer.author.username %></h4>
  <div class="errors"></div>

  <form id="new-answer-form">
	  <p>
	  <label for="answer_body">Body</label>
	  <textarea id="answer_body"
	            name="answer[body]"><%= answer.escape("body")%></textarea>
	  </p>

	  <input type="submit" value="Update Answer">
  </form>
  <button class="cancel">Cancel</button>
  
</div>

