<h3>New Answer</h3>

<div class="errors"></div>

<form id="new-answer-form">
	<p>
	<label for="answer_body">Body</label>
	<textarea id="answer_body"
	          name="answer[body]"></textarea>
	</p>

	<input type="submit" value="Post Answer">
</form>
<button class="cancel">Cancel</button>