
<span class="vote-count">
  <% if (ProHotlineApp.currentUser) { %>
    <i class=" upvote fa fa-caret-up fa-lg"></i>
  <% } %>
  <span id="inline-vote-number">
    <%= candidate.voteCount() %>
  </span>
  <% if (ProHotlineApp.currentUser) { %>
    <i class="downvote fa fa-caret-down fa-lg"></i>
  <% } %>
</span>