<h2>Profile</h2>
<pre class="profile-body"><%= user.escape("profile") %></pre>
<% if (ProHotlineApp.currentUser && ProHotlineApp.currentUserId == user.id) { %>
  <button id="edit-profile" class="btn">Edit Profile</button>
<% } %>