<h2>Profile</h2>
<div class="profile-body">
  <%= user.escape("profile") %>
</div>
<% if (ProHotlineApp.currentUser && ProHotlineApp.currentUserId == user.id) { %>
  <button id="edit-profile">Edit Profile</button>
<% } %>