
	<span class="comment-votes"></span>

        
	<a href="/users/<%= comment.author.id %>">
	  <%= comment.author.username %>
	</a>: <%= comment.escape("body") %>

	<div class="edit-tools">
	  <% if (ProHotlineApp.currentUser && comment.author.id == ProHotlineApp.currentUserId) { %>
  	  <i class="edit-comment fa fa-edit"></i>
  	  <i class="delete-comment fa fa-trash-o"></i>
	  <% } %>
	</div>




