<div class="comment-body">
	<%= comment.author.username %>: <%= comment.escape("body") %>
</div>
<div class="votes"></div>

<% if (ProHotlineApp.currentUser && comment.author.id == ProHotlineApp.currentUserId) { %>
		  	<button class="edit-comment">Edit Comment</button>
		  	<button class="delete-comment">Delete Comment</button>
<% } %>

