<div class="edit-comment">

  <div class="errors"></div>

  <form id="edit-comment-form">
	  <p>
	  <input type="text"
	         id="comment_body"
	         name="comment[body]">
	  </p>

	  <input type="submit" value="Update Comment">
  </form>
  <button class="cancel">Cancel</button>

</div>