<h3>New Comment</h3>

<div class="errors"></div>

<form id="new-comment-form">
	<p>
	<input type="text"
	       id="comment_body"
	       name="comment[body]"
	       placeholder="Your Comment">
	</p>

	<input type="submit" class="btn" value="Post Comment">
</form>
<button class="cancel btn btn-danger">Cancel</button>