<h1>Tags</h1>

<ul id="tag-index-list"></ul>

<script type="text/javascript">
  $(document).ready(function () {
    // Initialize global variables
    ProHotlineApp.currentUserId = parseInt($("#current-user").attr("data-id"));
    ProHotlineApp.currentUser = (ProHotlineApp.currentUserId ? true : false)

    ProHotlineApp.tags = new ProHotlineApp.Collections.Tags();
    ProHotlineApp.tags.fetch({
      error: function () {
        alert("error");
      },
      success: function () {
        ProHotlineApp.tags.each(function (tag) {
          var followed = (tag.userIds.indexOf(ProHotlineApp.currentUserId) == -1 ? false : true);
          var tagView = new ProHotlineApp.Views.TagDisplay({
            model: tag,
            followed: followed,
          });
          $("#tag-index-list").append(tagView.render().$el);
        });
      }
    }); 
  });
</script>