
<div class="question-content clearfix">
  <div class="question-title">
    <h2><%= question.escape("title") %></h2>
  </div>
  <div class="question-votes"></div>

  <div class="question-the-rest">

  	<div class = "question-body">
  	  <%= question.escape("body") %>
  	</div>
  	<ul class="tags">
  		<% question.tags.each(function (tag) { %>
  		  <li class="tag label label-info"><%= tag.escape("name") %></li>
  		<% }); %>
    </ul>
    <div class="question-info clearfix">
      <div class="question-author-info">
        Authored by <%= question.author.username %>
      </div>
    </div> 

    <ul class="comments"></ul>
    <div class="new-comment"></div>
  </div>
</div>






<div class="new-answer"></div>
