<form id="new-question-form">

	<div class="errors"></div>

	<p>
	<label for="question_title">Title</label>
	<input type="text"
	       id="question_title"
	       name="question[title]">
	</p>

	<p>
	<label for="question_body">Body</label>
	<textarea id="question_body"
	          name="question[body]"></textarea>
	</p>

	<p>
	<label for="question_tag_input">Tag(s)</label>
	<input type="text"
	       id="question_tag_input">
	</p>
	<ul id="tag-list"></ul>


	<input type="submit" value="Create Question">
</form>