div.answer {
	max-width: 1000px;
	margin: 0 auto;
}

div.answer-content {
	max-width: 1000px;
	margin: 12px auto;
	border: 1px solid;
	border-radius: 5px;
	background: #FAFAFA;
}

div.answer-header {
}

div.answer-sidebar {
	width: 13%;
	display: inline-block;
}

div.answer-the-rest {
	width: 85%;
	margin-right: 1%;
	float: right;
}

.answer-body {
	background: #EEEEEE;
	border-radius: 5px;
	min-height: 200px;
}

div.answer-info {
}

div.answer-author-info {
	float: right;
}


edit-answer delete-answer {
	cursor: pointer;
}

/* Creating/Editing answer */

#edit-answer-form textarea {
	background: #FFFFFF;
	min-height: 200px;
	width: 95%;
}

#new-answer-form textarea {
	background: #FFFFFF;
	min-height: 200px;
	width: 95%;
}

/* Marking best answer */

.best, .not-best {
	margin-top: 10px;
}

.mark-best-answer {
	cursor: pointer;
}

.if-best {
	color: green;
	text-align: center;
}

.if-not-best {
	text-align: center;
}

.best .if-not-best {
	display: none;
}

.not-best .if-best {
	display: none;
}

.answer-section{
	margin: 0px 0px 0px 50px
}