div.if-best {
	background: green;
}

div.best div.if-not-best {
	display: none;
}

div.not-best div.if-best {
	display: none;
}


div.answer-body {
	background: #DDDDDD;
	border: 1px solid;
	width: 50%;
	height: 100px;
}

div.answer-section{
	margin: 0px 0px 0px 50px
}