.comments {
	list-style: none;
}

.comment-body:nth-child(odd){
	background: #EEEEEE;
	width: 100%;
}

.comment-body:nth-child(even){
	background: #FFFFFF;
	width: 100%;
}


.ccomment-body {
	background: #EEEEEE;
	border-top: 1px solid;
	width: 100%;
}

div.comment-votes {
	width: 25%;
	display: inline-block;
}

.comment-body .edit-tools {
	float: right;
	cursor: pointer;
}

#new-comment-form #comment_body {
	width: 95%;
}