$best-answer-color: #C7F5B8;


/* New Question Page */

#new-question-title {
	margin-left: 20%
}

#new-question-form {
	margin-left: 20%;
	width: 30%;
}

#question_title {
	width: 100%;
}

#question_body {
	width: 100%;
	height: 200px;
}

#new-question-form .tag {
	margin: 0px 3px 0px 3px;

}

#new-question-form .tag:hover {
	text-decoration: line-through;
	cursor: pointer;
}

/* Question Show Page */

div.question {
	max-width: 1000px;
	margin: 0 auto;
}

div.question-content {
	max-width: 1000px;
	margin: 0 auto;
	border: 1px solid;
	border-radius: 5px;
	background: #FAFAFA;
}


div.question-title {
	margin-left: 5%;
}

div.question-votes {
	width: 13%;
	display: inline-block;
}

div.question-the-rest {
	width: 85%;
	margin-right: 1%;
	float: right;
}

.question-the-rest .tags {
	width: 60%;
}

.question-body {
	background: #EEEEEE;
	border-radius: 5px;
	min-height: 200px;
	width:95%;
}

div.question-info {
}

div.question-author-info {
	float: right;
}

.edit-question:hover, .delete-question:hover {
	cursor: pointer;
}

.answer-count {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}


/* Editing Question */

#edit-question-form textarea {
	background: #FFFFFF;
	min-height: 200px;
	width: 95%;
}

#edit-question-form .tag:hover {
	text-decoration: line-through;
	cursor: pointer;
}

#edit-question-form #question_title {
	width: 75%;
}

/* Questions Index Page */

#questions-index-title {
	margin-left: 50px;
	margin-top: 40px;
	margin-bottom: 30px;
}


.questions {
	margin: 20px 0px 40px 50px;
	width: 100%;
}

.question-mini {
	background-color: #F0F0F0;
	width: 80%;
	border: 1px solid;
	border-radius: 5px;
	display: inline-block;
}

.qquestion-mini:hover {
	background: #C0C3CF;
}

.question-mini a {
	text-decoration: none;
}

.question-mini .item {

	padding: 0px 3px 0px 3px;
	float: left;
	margin-bottom: 0px;
	display: inline-block;
}

.question-mini .side-item {
	border-right: 1px solid;
	float: left;
}

.question-mini .vote-side-item {
	width: 45px;
}

.question-mini .answer-side-item {
	width: 55px;
}

.question-mini .view-side-item {
	width: 45px;
}

.question-mini .side-item[data-best="true"] {
	background-color: $best-answer-color;
}

/*
.question-mini .side-item[data-best="true"] {
	background-color: #BCF5A9;
	box-shadow: 0px 0px 5px 5px #FAC8DD;
}
*/

.question-mini .item .sub-item{
	text-align: center;
	height: 25px;
}

.btn-new-question {
	margin: 0px 0px 0px 50px;
}
