.tag a {
	color: inherit;
	text-decoration: none;
}

.tag-index-list-item {
	list-style: none;
	border: 1px solid;
	display: inline-block;
	width: 19%;
	text-align: center;
	border-radius: 50px;
	background: #EEEEEE;
}

.tag-index-list-item a {
	color: inherit;
	text-decoration: none;
}

#tag-follow-div {
	float:left;
	margin-left: 15px;
	margin-top: 7px;
}

i.follow {
	font-size: 2em;
}

i.follow:hover {
	cursor: pointer;
}

i.unfollow {
	font-size: 2em;
	color: #E3D405;
}

i.unfollow:hover {
	cursor: pointer;
}