.user-info {
	width: 30%;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

.user-info .gravatar {
	float: left;
}

.profile {
	float: right;
	width: 50%;
	border: 1px solid;
	margin: 10px;
	border-radius: 5px;
	background: #FAFAFA;
}

.profile-body {
	width: 95%;
  height: 150px;
  border-radius: 5px;
	background: #EEEEEE;
  margin: 15px;
}

#edit-profile-form #user_profile {
	width: 95%;
  height: 150px;
  border-radius: 5px;
	background: #FFFFFF;
  margin: 15px;
}

.user-questions {
	float: left;
	width: 30%;
	height: 100%;
}

.user-questions li, .user-questions li {
  list-style: none;	
}

.user-answers {
	float: left;
	width: 30%;
	height: 100%;
}
.user-tags {
	float: left;
	width: 30%;
	height: 100%;
}

.user-bottom-half {
	margin-top: 30px;
}