#users-list-item {
	background: #F2F2D3;
	display: inline-block;
	border: 1px solid;
	border-color: #96966B;
	border-radius: 5px;
	width: 15%;
	height: 50px;
	list-style: none;
	left-margin: 10px;
}


.user-info {
	width: 30%;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

.user-info .gravatar {
	float: left;
}

.profile {
	float: right;
	width: 50%;
	border: 1px solid;
	margin: 10px;
	border-radius: 5px;
	background: #FAFAFA;
}

.profile-body {
	width: 92%;
  height: 150px;
  border-radius: 5px;
	background: #EEEEEE;
  margin: 15px;
}

#edit-profile-form #user_profile {
	width: 95%;
  height: 150px;
  border-radius: 5px;
	background: #FFFFFF;
  margin: 15px;
}

/****** THE IMAGE *********/

#activity-label {
	margin-left: 30%;
	margin-top: 50px;
}

#box1 {
 height: 50px;
 width: 35%;
 display: inline-block;
 float:left;
 border-right: 2px dashed;
}
#box2 {
 height: 50px;
 width: 64%;
 display: inline-block;
 float:left;
}

#box3 {
 height: 50px;
 width: 10%;
 display: inline-block;
 float:left;
}

#box4 {
 height: 50px;
 width: 24.8%;
 display: inline-block;
 float:left;
 border: 2px dashed;
 border-bottom: none;
}

#box5 {
 height: 50px;
 width: 24%;
 display: inline-block;
 float:left;
 border: 2px dashed;
 border-bottom: none;
 border-left: none;
}

#box6 {
 height: 50px;
 width: 38%;
 display: inline-block;
 float:left;
}




/***************************/




.user-questions {
	float: left;
	width: 25%;
	height: 100%;
	padding-left: 5%;
}

.user-questions li, .user-answers li {
  list-style: none;	
}

.user-questions-votes, .user-answers-votes {
	color: #000000;
}

.user-answers {
	float: left;
	width: 25%;
	height: 100%;
}
.user-tags {
	float: left;
	width: 25%;
	height: 100%;
}

.user-bottom-half {
	margin-top: 30px;
}