.vote-count {
	text-align: center;
}

#inline-vote-number {
	width: 30px;
}

.upvote, .downvote {
	cursor: pointer;
}

.upvote:hover {
	color: #F7D960;
}

.downvote:hover {
	color: #F7D960;
}

.vote-count {
	font-size: 1.5em;
}

.unsigned {
	cursor: not-allowed;
}